@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root {
  --dark-bg: rgb(53, 47, 47);
  --pink-color: #ff147f;
  --fuchsia-color: #ff145f;
  --orange-color: #ffc42d;
  --white-color: whitesmoke;
  --dark-blue-color: midnightblue;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  background: var(--dark-bg);
  z-index: 1; /* Important for navbar to keep overlapping absolute-positioned project cards */
}

/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Fa-bars button styling */
.menu-toggle {
  display: inline-block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1.3em;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--pink-color);
  transform: rotate(360deg);
}

/* Default styles + Mobile first
Offscreen menu style */

/* Unopened menu */
.navbar {
  /* Hides menu (including the 'x') by default */
  position: fixed;
  display: block;
  overflow: hidden;
  /* transform: translateY(-110%); */
  top: -250px;
  transition: all 0.5s ease;
  z-index: 999;
  width: 100%;
}

/* Styling of the links */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
  height: auto;
  width: 100%;
  background: #1a1a1a;
}

.navbar a {
  display: block;
  text-align: center;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: var(--white-color);
  text-decoration: none;
  border-bottom: 1px solid var(--pink-color);
  transition: background-color 0.5s ease, padding-left 0.5s ease;
}

.navbar li:first-child a {
  border-top: 1px solid var(--pink-color);
}

@media (max-width: 767px) {
  .navbar a:hover,
  .navbar a:focus {
    background: #333;
    padding-left: 30px;
  }
}

/* Sets the 'x' to the top right */
.navbar .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/

/* Opened menu */
.navbar:target,
.navbar[aria-expanded='true'] {
  overflow: visible;
  /* transform: translateY(0); */
  top: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

/* Makes the 'x' visible */
.navbar:target .menu-close,
.navbar[aria-expanded='true'] .menu-close {
  z-index: 1001;
}

.navbar:target ul,
.navbar[aria-expanded='true'] ul {
  position: relative;
  z-index: 1000;
}

/* 
When the navigation is targeted, the rest of the page will be darkened (we apply a backdrop)
*/
.navbar:target + .backdrop,
.navbar[aria-expanded='true'] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  cursor: default;
}

/* Provide the preferred position:fixed CSS to browsers (both mobile and desktop) that support it. */
@supports (position: fixed) {
  .navbar,
  .navbar:target + .backdrop,
  .navbar[aria-expanded='true'] + .backdrop {
    position: fixed;
  }
}

/* 
Larger screen styling
Horizontal menu
*/

@media (min-width: 768px) {
  .menu-toggle,
  .navbar .menu-close {
    display: none;
  }

  /* Undo positioning of off-canvas menu */
  .navbar {
    position: fixed;
    right: auto;
    top: auto;
    height: auto;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
  }

  .navbar ul {
    display: flex;
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }

  #navbar li {
    padding: 10px;
    margin-right: 15px;
  }

  .navbar a {
    border: 0 !important; /* Remove borders from off-canvas styling */
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: lowercase;
    position: relative;
    color: rgba(0, 0, 0, 0.562);
    transition: color 0.3s ease;
  }

  .navbar a:hover,
  .navbar a:focus {
    background: none; /* Remove background from off-canvas styling */
    top: 3px;
    color: #000;
  }

  .navbar.active {
    background: var(--dark-bg);
    height: 50px;
  }

  .navbar.active a {
    color: var(--white-color);
    font-weight: 400;
    font-size: 17px;
    transition: font-size 0.3s ease-in-out;
  }
}

/* Home section Styles */
#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background: linear-gradient(45deg, var(--fuchsia-color), var(--orange-color));
  text-align: center;
}

#profile-img {
  width: 150px;
  max-width: 100%;
  height: auto;
  border-radius: 1000px;
  margin-bottom: 20px;
  animation-name: enhance;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  -webkit-box-shadow: 8px 6px 8px -4px #000;
  box-shadow: 8px 6px 8px -4px #000;
}

@keyframes enhance {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.intro {
  display: flex;
  flex-flow: column wrap;
  line-height: 1.5;
  font-size: 22px;
}
.intro h1 {
  font-weight: 700;
}

.intro span {
  animation-name: scale;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 3.5s;
}

@keyframes scale {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.contact-info {
  font-size: 20px;
  line-height: 1;
}

.icons-grid,
.languages-grid {
  display: flex;
  justify-content: center;
}

.contact-icon,
.location-icon {
  padding: 15px 15px 8px 15px;
  color: #000;
  transition: all 0.3s ease;
}

.contact-icon:hover {
  transform: scale(1.2);
  color: rgb(61, 56, 56);
}

.languages-grid i {
  padding: 30px 15px 8px 15px;
  font-size: 50px;
  color: #000;
}

/* Projects section Styles */
#projects {
  background-color: var(--dark-bg);
  width: 100%;
  padding: 70px 20px 60px 20px;
}

#projects h2 {
  text-align: center;
  padding-bottom: 40px;
  width: 80%;
  margin: 0 auto;
  color: var(--white-color);
  font-size: 32px;
  text-shadow: 5px 2px 4px rgba(46, 106, 28, 0.86);
}

#projects i {
  padding-left: 15px;
}

.flip-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  perspective: 600;
}

.flip-card {
  border-radius: 3px;
  cursor: pointer;
}

.flip-card-inner {
  text-align: center;
  transition: transform 0.8s ease 0.3s;
  transform-style: preserve-3d;
}

/* For computer users: flip on hover */
@media (min-width: 768px) {
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: default;
  }
}

/* For mobile users: toggle class on click */
.is-flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(55, 165, 27, 0.89);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.7;
  color: var(--white-color);
  cursor: default;
  padding: 20px;
}

.flip-card-back h3 {
  font-size: 22px;
  padding-bottom: 10px;
}

.flip-card-back p:nth-child(3) {
  padding-top: 10px;
  opacity: 0.6;
}

.flip-card-back .btn {
  margin-top: 20px;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: var(--dark-blue-color);
  text-decoration: none;
  color: var(--white-color);
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.flip-card-back .btn:hover {
  background-color: rgb(50, 50, 189);
  border: 1px solid greenyellow;
}

.project-img {
  height: 330px;
  width: 100%;
  object-fit: cover;
}

.animated-bg {
  height: 330px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #2e6a1c 0%,
    #3b8625 10%,
    #2e6a1c 15%,
    #2e6a1c 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}

/* Bio section Styles */
#bio {
  background: linear-gradient(
    222deg,
    var(--fuchsia-color),
    var(--orange-color)
  );
  line-height: 1.8;
  color: rgb(15, 5, 5);
  padding: 70px 0 30px 0;
}

#bio h2 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
  width: 90%;
  margin: 0 auto;
  font-size: 32px;
  text-shadow: 5px 2px 4px rgba(223, 211, 222, 0.68);
}

#bio .content {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  list-style: none;
  background-color: rgba(151, 187, 150, 0.377);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

#bio .content .fadeIn {
  opacity: 1;
}

#bio p {
  padding: 10px;
}

@media (min-width: 768px) {
  .content {
    width: 60%;
    font-size: 18px;
  }
}

/* Certificates Section Styles */
#certificates {
  background-color: var(--dark-bg);
  width: 100%;
  padding: 70px 20px 40px 20px;
}

#certificates h2 {
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
  font-size: 32px;
  text-shadow: 5px 2px 4px rgba(46, 106, 28, 0.86);
}

#certificates i {
  padding-left: 15px;
}

.certificates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.certificate-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.certificate-card {
  margin: 20px 10px 0 10px;
  border-radius: 3px;
}

/* Footer Styles */
#footer {
  padding: 20px 0 20px 0;
  background-color: var(--dark-bg);
  font-size: 20px;
  color: var(--white-color);
  text-align: center;
  border-top: solid 2px var(--pink-color);
}
